@font-face {
    font-family: nunito;
    src: url("Fonts/nunito/Nunito-Regular.ttf");
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'nunito', sans-serif;
}

#output {
  padding: 20px;
}

.turnways{
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.owl{
    width: 220px;
    height: 220px;
    animation: owl 0.4s steps(6) infinite;
}

.angryowl{
    width: 220px;
    height: 220px;
    animation: owl 0.2s steps(6) infinite;
}

.happy-owl{
    width: 220px;
    height: 220px;
    animation: flipout 0.4s steps(1) infinite;
}

@keyframes owl {
   100% { background-position: -1320px; }
}

@keyframes flipout {
   0% { -moz-transform: scaleX(1);
              -o-transform: scaleX(1);
              -webkit-transform: scaleX(1);
              transform: scaleX(1);
        }

    50% { -moz-transform: scaleX(-1);
                  -o-transform: scaleX(-1);
                  -webkit-transform: scaleX(-1);
                  transform: scaleX(-1);

    }

    100% { -moz-transform: scaleX(1);
                      -o-transform: scaleX(1);
                      -webkit-transform: scaleX(1);
                      transform: scaleX(1);
     }
}

@keyframes pulse {
   0% { -moz-transform: scale(1);
              -o-transform: scale(1);
              -webkit-transform: scale(1);
              transform: scale(1);
        }

    50% { -moz-transform: scale(1.10);
                      -o-transform: scale(1.1);
                      -webkit-transform: scale(1.1);
                      transform: scale(1.1);
     }

      100% { -moz-transform: scaleX(1);
                           -o-transform: scale(1);
                           -webkit-transform: scale(1);
                           transform: scale(1);
          }
}

.game{
    width: 1280px;
    height: 642px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background:  url("images/background.png");
}

.item{
    position: absolute;
    max-height: 100px;
    bottom: 0px;
    left: 300px;
    animation: pulse 2.0s steps(10) infinite;

}

.owl0{
    position: absolute;
    bottom: 0px;
    left: -30px;
}

.owl1{
position: absolute;
    bottom: 0px;
    left: 90px;
}

.owl2{
    position: absolute;
    bottom: 5px;
    left: 230px;
}


.owl3{
    position: absolute;
    bottom: 5px;
    right: -30px;
}

.owl4{
position: absolute;
    bottom: 0px;
    right: 90px;
}

.owl5{
    position: absolute;
    bottom: 0px;
    right: 230px;
}

.rules0{
    position: absolute;
    top: 20px;
    left: 70px;
    border: 3px solid black;
    box-shadow: -10px 10px 20px #000000;
}

.rules1{
    position: absolute;
    top: 20px;
    right: 70px;
    border: 3px solid black;
    box-shadow: -10px 10px 20px #000000;
}

.rule{
    width: 160px;
    padding: 5px;
    padding-top: 0px;
    padding-bottom:0px;
    font-size: 16px;
    height: 46px;
    font-weight: 900;
    border: 3px solid rgba(0,0,0,0.2);
    line-height: 36px;
    background: #44244d;
    color: #cc87e8;
}

.rule > span{
    line-height: 30px;
    display:inline-block;
    line-height:20px;
    vertical-align:middle;
}

.ruleText{
    vertical-align: middle;
}

.firstItem{
    width: 300px;
    height: 180px;
    background: #333333;
    border: 3px solid black;
    position: absolute;
    top: 80px;
    left: 270px;
    box-shadow: -10px 10px 20px #000000;

}

.secondItem{
    width: 300px;
    height: 180px;
    background: #333333;
    border: 3px solid black;
    position: absolute;
    top: 80px;
    right: 270px;
    box-shadow: -10px 10px 20px #000000;

}

.resultItem{
    width: 300px;
    height: 180px;
    background: #333333;
    border: 3px solid black;
    position: absolute;
    top: 350px;
    left: 500px;
    box-shadow: -10px 10px 20px #000000;
}

button{
    border-radius: 8px;
    font-weight: 900;
    font-size: 36px
    box-shadow: -10px 10px 20px #000000;
    width: 75px;
    height: 50px;
    color: #383838;
    background: #ffd800;
    border: 3px solid #d1a900;
}

.andButton{
    position: absolute;
    top: 285px;
    left: 500px;
    box-shadow: -10px 10px 20px #000000;
}

.orButton{
    position: absolute;
    top: 285px;
    left: 615px;
    box-shadow: -10px 10px 20px #000000;
}

.xorButton{
    position: absolute;
    top: 285px;
    right: 470px;
    box-shadow: -10px 10px 20px #000000;
}

button:hover{
    box-shadow: -10px 10px 20px #888888;
}


button:active{
    transform: translateY(5px);
}
